* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ContactForm {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 80%;
  color: #4F4F4F;
}

.ContactForm_avatar-wrapper {
  margin-right: 50px;
}

.ContactForm img {
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.ContactForm input {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #A2A2A2;
  outline: none;
}

.ContactForm input[type="file"] {
  border: none;
  display: none;
}

.ContactForm button[type="submit"] {
  padding: 10px 5px;
  background-color: #c4c4c4;
  border: none;
  box-shadow: 4px 4px 8px 0 #4f4f4f;
  cursor: pointer;
}

.ContactForm button[type="submit"]:hover {
  background-color: #dedede;
}